*{
-fx-background-color : #FAF3E0;
}

.heading{
-fx-font-family : JetBrains Mono;
-fx-font-weight : 800;
-fx-font-style : italic;
-fx-background-color : transparent;
}


.btn{
-fx-underline : false;
-fx-text-alignment : center;
-fx-padding : 10px;
-fx-margin : 10px;
 -fx-border-style : none;
 -fx-border-width : 0px;
 -fx-background-radius : 10px;
 -fx-background-color : #EABF9F;
 -fx-text-fill:#1E212D;
}

.btn:hover{
-fx-underline : false;
 -fx-background-color : #B68973;
 -fx-text-fill:#FFFF;
}

.btn:pressed{
-fx-text-fill:#1E212D;
}

.burger{
 -fx-background-image : url('icons/menu.png');
 -fx-background-repeat: no-repeat ;
 -fx-background-position: center;
 -fx-pref-width : 50px;
 -fx-text-fill : #FFFF;
}

.playBut{
 -fx-background-image : url('icons/play2.png');
 -fx-background-repeat: no-repeat ;
 -fx-background-position: center;
 -fx-pref-width : 50px;
 -fx-text-fill : #FFFF;
}

.pauseBut{
 -fx-background-image : url('icons/pause.png');
 -fx-background-repeat: no-repeat ;
 -fx-background-position: center;
 -fx-pref-width : 50px;
 -fx-text-fill : #FFFF;
}

.lowVol{
 -fx-background-image : url('icons/volume-low.png');
 -fx-background-repeat: no-repeat ;
 -fx-background-position: center;
 -fx-pref-width : 50px;
 -fx-background-color:transparent;
}

.highVol{
 -fx-background-image : url('icons/volume-high.png');
 -fx-background-repeat: no-repeat ;
 -fx-background-position: center;
 -fx-pref-width : 50px;
 -fx-background-color:transparent;

}


.side-bar-label{
-fx-background-color : transparent;
-fx-pref-height	: 50px;
-fx-pref-width : 200px;
-fx-text-alignment : center;
-fx-underline : false;
-fx-border-width :1px ;
-fx-border-style : solid;
-fx-border-color : #333;
-fx-text-fill : #FFF;
}

.side-bar-label:hover{
-fx-border-width :3px;
-fx-border-style : solid;
-fx-border-color : #333;
-fx-text-fill : #FAF3E0;
}

.side-bar-label:pressed{
-fx-text-fill:#EABF9F;
}

.labal{
-fx-underline : false;
-fx-text-alignment : center;
-fx-padding : 10px;
-fx-margin : 10px;
 -fx-border-style : none;
 -fx-border-width : 0px;
 -fx-background-radius : 10px;
 -fx-background-color : #EABF9F;
 -fx-text-fill:#1E212D;
-fx-pref-width : 200px;
}

.labal:hover{
-fx-underline : false;
 -fx-background-color : #B68973;
 -fx-text-fill:#FFFF;
}

.text{
-fx-background-color:transparent;
-fx-font-weight:300;
}



.progress-bar > .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        #EABF9F; /* this line is the background color of the bar */
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}