*{
-fx-background-color : #FAF3E0;
}

.heading{
-fx-font-family : JetBrains Mono;
-fx-font-weight : 800;
-fx-font-style : italic;
-fx-background-color : transparent;

}

.btn{
-fx-underline : false;
-fx-text-alignment : center;
-fx-padding : 10px;
-fx-margin : 10px;
 -fx-border-style : none;
 -fx-border-width : 0px;
 -fx-background-radius : 10px;
 -fx-background-color : #EABF9F;
 -fx-text-fill:#1E212D;
}

.btn:hover{
-fx-underline : false;
 -fx-background-color : #B68973;
 -fx-text-fill:#FFFF;
}

.btn:pressed{
-fx-text-fill:#1E212D;
}